<h1>Lazy and cancelable</h1>


<p class="item">
  <span class="title">With a promise:</span>
  <button (click)="addPromise()">Add Promise</button>
  Waiting for promise to resolve:
  <span class="result">{{ promise }}</span>
</p>


<p class="item">
  <span class="title">With an observable</span>
  <button (click)="add()">Add observable</button>
  <span class="result">Observable 2: {{ counter$ | async }}</span>
</p>


<h1>Retry on errors</h1>

<p class="item">
  <span class="loading" *ngIf="err != ''">{{ err }} {{ errct$ | async }}s</span>
  <span class="title">First with an error</span>
  <button (click)="addError()">Retry observable</button>
  <span class="result">Observable 3: {{ obserror$ | async }}</span>
</p>
